<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>SportsStore</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid navbar-inverse bg-inverse" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">SPORTS STORE</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
    {
                <li><a class="btn" href="@Url.Action("Logout", "Account", new { area = "" })"><i class="fa fa-user-times" aria-hidden="true"></i></a></li>
}
else
{
                <li><a class="btn" href="@Url.Action("Login", "Account", new { area = "" })"><i class="fa fa-user-o" aria-hidden="true"></i></a></li>
}

                    <li><a class="btn" href="@Url.Action("List", "Shipping", new { area = "admin" })"><i class="fa fa-truck" aria-hidden="true"></i></a></li>
                    <li><a class="btn" href="@Url.Action("Index", "Stock", new { area = "admin" })"><i class="fa fa-wrench" aria-hidden="true"></i></a></li>
                    @await Component.InvokeAsync("CartSummary")
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div id="categories" class="col-sm-2">
                @await Component.InvokeAsync("NavigationMenu")
            </div>
            <div class="col-sm-10">
                @RenderBody()
            </div>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
